<% content_for :record do %>
  <ul>
    <li><%= link_to("Back to '#{@role}'", role_path(@role)) %></li>
  </ul>
<% end %>

<h1>Editing Role '<%= h @role %>'</h1>

<% remote_form_for(:role, :url => role_path(@role), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "staph/roles/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>