<h1>Listing Genres</h1>

<table>
	<thead>
	<tr>
	    	<th>Name</th>
	  	</tr>
	</thead>
	
	<tbody>
  	<% @genres.each do |genre| %>
  		<tr>
		    		<td><%=h genre.name %></td>
		  		</tr>
	<% end %>
	</tbody>
</table>