<h1>Create a New Genre</h1>

<% remote_form_for(:genre, :url => genres_path) do |f| %>
	<fieldset id="genre_details" name="Genre Details" class="clearfix">
		<%= render(:partial => "genres/form", :locals => {:f => f})%>
    	<%= submit_tag "Create" %>
	</fieldset>
<% end %>

<%= link_to 'Back', genres_path %>