<h1>Create a New Slot</h1>

<% remote_form_for(:slot, :url => slots_path) do |f| %>
	<fieldset id="slot_details" name="Slot Details" class="clearfix">
		<%= render(:partial => "slots/form", :locals => {:f => f})%>
    	<%= submit_tag "Create" %>
	</fieldset>
<% end %>

<%= link_to 'Back', slots_path %>