<h1>Create a New PSA</h1>

<% remote_form_for(:psa, :url => psas_path) do |f| %>
	<fieldset id="psa_details" name="Psa Details" class="clearfix">
		<%= render(:partial => "psa/form", :locals => {:f => f})%>
    	<%= submit_tag "Create" %>
	</fieldset>
<% end %>

<%= link_to 'Back', psas_path %>