<h3>Artist Options</h3>
<ul>
  <li><%= link_to 'Edit', edit_artist_path(@artist) %></li>
  <li><%= link_to 'Destroy', artist_path(@artist), :confirm => 'Are you sure?', :method => :delete %></li>
</ul>