<h1>Artists</h1>

<fieldset class="sort-options">
  <dl class="letter-navigation">
  	<dt>Letter</dt>
  	<%= ('A'..'Z').collect{|l| content_tag(:dd, link_to(l, :anchor => '')) }%>
  </dl>
</fieldset>

<table>
	<thead>
  	<tr>
    	<th>Name</th>
    	<th>Genres</th>
		  <th colspan="4"></th>
  	</tr>
	</thead>
  
	<tbody>
	  <%= render(:collection => @artists, :partial => 'artists/summary/row') %>
  </tbody>
</table>