<h1>Create a New Comment</h1>

<% remote_form_for(:comment, :url => comments_path) do |f| %>
	<fieldset id="comment_details" name="Comment Details" class="clearfix">
		<%= render(:partial => "comments/form", :locals => {:f => f})%>
    	<%= submit_tag "Create" %>
	</fieldset>
<% end %>

<%= link_to 'Back', comments_path %>