<ul>
  <li><%= link_to "Schedules", schedules_path %></li>
  <li><%= link_to "Programs",  programs_path %></li>
  <li><%= link_to "PSAs",      psas_path %></li>
  <li><%= link_to "Promos",    promos_path %></li>
</ul>