<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= h artist%></li>
  <% end %>
</ul>

<h1>Albums</h1>
<ul>
  <% @albums.each do |album| %>
    <li><%= h album%></li>
  <% end %>
</ul>

<h1>Programs</h1>
<ul>
  <% @programs.each do |program| %>
    <li><%= h program%></li>
  <% end %>
</ul>

<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= h user%></li>
  <% end %>
</ul>