<% content_for :record do %>
  <p><%= link_to("Back to '#{@program}'", label_path(@program)) %></p>
<% end %>

<h1>Editing Program '<%= h @program %>'</h1>

<% remote_form_for(:program, :url => program_path(@program), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "programs/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>