<h1>Listing Programs</h1>

<% @schedules.each do |schedule| %>
  <% next if schedule.programs.empty? %>
  <h2><%= h schedule %></h2>
  <table>
  	<thead>
  	  <tr>
  	  	<th>Name</th>
  	  	<th>Users</th>
  	  	<th>Description</th>
  	  	<th>Type</th>
  	  	<th colspan="3"></th>
  	  </tr>
  	</thead>
	
  	<tbody>
  	  <%= render(:collection => schedule.programs.compact, :partial => 'programming/programs/summary/row')%>
  	</tbody>
  </table>
<% end %>