<% content_for :record do %>
  <ul>
    <li><%= link_to("Edit this Time Slot", edit_schedule_slot_path(@slot.schedule, @slot)) %></li>
  </ul>
<% end %>

<h1><%= simple_format h(@slot) %></h1>
<h2><%= h @slot.program %></h2>