<p>
  <b>Name:</b>
  <%=h @psa.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @psa.body %>
</p>

<p>
  <b>Code:</b>
  <%=h @psa.code %>
</p>

<p>
  <b>Is live:</b>
  <%=h @psa.is_live %>
</p>

<p>
  <b>Length:</b>
  <%=h @psa.length %>
</p>

<p>
  <b>Expiration date:</b>
  <%=h @psa.expiration_date %>
</p>


<%= link_to 'Edit', edit_psa_path(@psa) %> |
<%= link_to 'Back', psas_path %>