<%= link_to(content_tag(:h1, "WRCT 88.3") + content_tag(:h2, "a radio station"), admin_path, :id => "logo") %>

<ul id="navigation">
	<%= navigation_tab("Users", users_path) %>
	<%= navigation_tab("Music", "javascript:alert('Not yet implemented');") %>
	<%= navigation_tab("Programming", "javascript:alert('Not yet implemented');") %>
	<%= navigation_tab("Events", "javascript:alert('Not yet implemented');") %>
	<%= navigation_tab("CMS", "javascript:alert('Not yet implemented');") %>
</ul>