<h1>Listing Plays</h1>

<table>
	<thead>
	<tr>
	    	<th>Name</th>
	    	<th>Is request</th>
	    	<th>Is bincut</th>
	    	<th>Is marked</th>
	  	</tr>
	</thead>
	
	<tbody>
  	<% @plays.each do |play| %>
  		<tr>
		    		<td><%=h play.name %></td>
		    		<td><%=h play.is_request %></td>
		    		<td><%=h play.is_bincut %></td>
		    		<td><%=h play.is_marked %></td>
		  		</tr>
	<% end %>
	</tbody>
</table>