<p>
  <b>Playlist:</b>
  <%=h @play.playlist_id %>
</p>

<p>
  <b>Parent:</b>
  <%=h @play.parent_id %>
</p>

<p>
  <b>Track name:</b>
  <%=h @play.track_name %>
</p>

<p>
  <b>Is request:</b>
  <%=h @play.is_request %>
</p>

<p>
  <b>Is bincut:</b>
  <%=h @play.is_bincut %>
</p>

<p>
  <b>Is marked:</b>
  <%=h @play.is_marked %>
</p>

<p>
  <b>Type:</b>
  <%=h @play.type %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>