<h1>Listing Labels</h1>

<table>
	<thead>
	  <tr>
    	<th>Name</th>
    	<th>Email</th>
    	<th>Phone</th>
    	<th colspan="4"></th>
  	</tr>
	</thead>
	
	<tbody class="directory">
    <%= render(:collection => @labels, :partial => 'labels/summary/row')%>
	</tbody>
</table>