<h1>Listing Programs</h1>

<label>Active Schedule</label>
<%= select_tag :active, options_from_collection_for_select(Schedule.find(:all), :id, :to_s) %>
<hr class="space"/>

<table>
	<thead>
	<tr>
	    	<th>Name</th>
	    	<th>Description</th>
	    	<th>Type</th>
	    	<th>URL</th>
	    	<th colspan="3"></th>
	  	</tr>
	</thead>
	
	<tbody>
	  <%= render(:collection => @programs, :partial => 'programs/summary/row')%>
	</tbody>
</table>