<% content_for :record do %>
  <p><%= link_to("Back to '#{@slot}'", slot_path(@slot)) %></p>
<% end %>

<h1>Editing Slot '<%= h @slot %>'</h1>

<% remote_form_for(:slot, :url => schedule_slot_path(@slot.schedule, @slot), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "slots/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>