<h1>Listing Slots</h1>

<% @slots.group_by(&:schedule).each do |schedule, slots| %>
  <h2><%= h schedule %></h2>
  <table>
	  <thead>
  	  <tr>
  	    <th>Day</th>
	    	<th>Start Time</th>
	    	<th>End Time</th>
	    	<th>Program</th>
	    	<th colspan="2"></th>
	  	</tr>
  	</thead>
	
  	<tbody>
      <%= render(:collection => slots, :partial => 'calendar/slots/summary/row')%>
  	</tbody>
  </table>
<% end %>
