/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (21.9.2007)
   * Website:   http://code.google.com/p/blueprintcss/
   See Readme file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';
@import 'lib/forms.css';

/* Plugins:
   Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Example:
   @import 'plugins/buttons/buttons.css'; */
   
/*/ See the grid:
   Uncomment the line below to see the grid and baseline./
   #container { background: url(lib/grid.png); } 
/**/

a{
	color:#046380;
}


dl.letter-navigation{
	margin:0;
}

dl.letter-navigation dd, dl.letter-navigation dt{
	display:block;
	float:left;
	padding:0;
	margin:0 0 1.0em 0;
}

dl.letter-navigation dt{
	margin-right:1.5em;
}

dl.letter-navigation dd{
	margin:0 0.3em;
}

.auto_complete { position:absolute; width:250px; background-color:white; border:1px solid #888; margin:0px; padding:0px; }
.auto_complete ul { list-style: none; margin:0px; padding:0px; }
.auto_complete ul li.selected { background-color: #bbf; }
.auto_complete ul li { color:#222; list-style-type: none; display:block; margin:0; padding:2px; height:16px; }

td img{
	margin:0;
}

#content table{
	width:100%;
}

td.handle:hover{
	cursor: move;
}

#header{
	border:1px #111 solid;
	margin-bottom:50px;
}

#profile-box{
	float:right;
	width:190px;
}

.navigation{
	float:left;
	margin:0;
	margin-left:80px;
	width:668px;
}

ul.navigation li{
	float:left;
	display:block;
}

ul.navigation#primary{
	background:#111;
	float:left;
}

ul.navigation#primary li{
	font-size:1.5em;
	width:149px;
	border-right:1px #fff solid;
}

ul.navigation#primary li.current{
	background:#046380;
}

ul.navigation#primary li a:hover{
	background:#ccc;
	
}

ul.navigation#primary li a{
	text-shadow:1px 1px 1px #555;
	color:#fff;
	display:block;
	width:130px;
	padding:10px;
	text-decoration:none;
}



.navigation#secondary{

}

.navigation#secondary {

}


/* Schedule */

.schedule{
	width:910px;
}

.schedule th{
	text-align:center;
}

.schedule tbody tr{
	height:40px;
}

th.time{
	width:70px;
	text-align:left;
	vertical-align:middle;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
	width:100px;
	padding:5px;
}

.monday{
	background:#222;
}

.dead-air{
	background:#BBE3DD;
}

.schedule td div{
	width:94px;
	padding:5px;
	border:1px #333 solid;
	margin:0 auto;
	overflow:hidden;
}
.schedule td{
	width:108px;
	padding:0;
	margin:1px;
}

.schedule tr.odd{
	background:#f3f3f3;
}

.schedule tr.even{
	
}

.schedule tr:first-child{
	font-weight:bold;
}

.schedule{overflow:hidden;}
.schedule tbody tr:hover{background:#ccc;}
.schedule tbody tr:hover td div{
	background:#f3f3f3;
}

.schedule tbody tr.current td{
	background:#D6F1FF;
}

td[rowspan="1"]  div	{ height: 40px; }
td[rowspan="2"]  div	{ height: 80px; }
td[rowspan="3"]  div	{ height: 120px; }
td[rowspan="4"]  div	{ height: 160px; }
td[rowspan="5"]  div	{ height: 200px; }
td[rowspan="6"]  div	{ height: 240px; }
td[rowspan="7"]  div	{ height: 280px; }
td[rowspan="8"]  div	{ height: 320px; }
td[rowspan="9"]  div	{ height: 360px; }
td[rowspan="10"] div	{ height: 400px; }
td[rowspan="11"] div	{ height: 440px; }
td[rowspan="12"] div	{ height: 480px; }
td[rowspan="13"] div	{ height: 520px; }
td[rowspan="14"] div	{ height: 560px; }
td[rowspan="15"] div	{ height: 600px; }
td[rowspan="16"] div	{ height: 640px; }
td[rowspan="17"] div	{ height: 680px; }
td[rowspan="18"] div	{ height: 720px; }
td[rowspan="19"] div	{ height: 760px; }
td[rowspan="20"] div	{ height: 800px; }
td[rowspan="21"] div	{ height: 840px; }
td[rowspan="22"] div	{ height: 880px; }
td[rowspan="23"] div	{ height: 920px; }
td[rowspan="24"] div	{ height: 960px; }


  .pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #046380;
    text-decoration: none;
    color: #046380;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #046380;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #046380;
    font-weight: bold;
    background-color: #046380;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }

.monthName{font-size:2.0em;}



.calendar span.number{
	position:relative;
	font-size:2em;
	color:#777;
	margin:0;
}

.calendar ul{
	padding:0.3em;
	margin:0 0 0 15px;
}

.calendar .otherMonth{
	font-size:2em;
	color:#ccc;
}

.calendar td{
	height:70px;
}

.calendar td:hover{
	background:#F1F1F1;
}




h1#logo{
	width:160px;
	height:64px;
	float:left;
}

h1#logo img{
	margin:5px 0;
}

h1#logo span{
	display:none;
}

hr.space{
	margin:1.4em 0;
}

fieldset hr.space{
	margin:2em 0;
}

table.charts th{
	font-size:1.3em;
}