<h1>Manage Users</h1>

<table>
	<thead>
  	<tr>
		<th>Name</th>
		<th>E-mail</th>
		<th colspan="3"></th>
  	</tr>
	</thead>
  
	<tbody>
<% @users.each do |user| %>
	<tr id="<%= user.dom_id %>" class="<%= cycle(nil, 'stripe')%>">
		<td><strong><%= link_to(h(user.name), user_path(user)) %></strong></td>
		<td><%= mail_to(user.email, user.email, :encode => :javascript)%></td>
	</tr>
	</tbody>
<% end %>
</table>