<h1>Listing Formats</h1>

<table>
	<thead>
	<tr>
	    	<th>Name</th>
	  	</tr>
	</thead>
	
	<tbody>
  	<% @formats.each do |format| %>
  		<tr>
		    		<td><%=h format.name %></td>
		  		</tr>
	<% end %>
	</tbody>
</table>