<h1 id="logo"><span>WRCT: a full boat</span></h1>

<ul class="navigation" id="primary">
  <li><%= link_to_unless_current("Music",       music_path )%></li>
  <li><%= link_to_unless_current("Programming", programming_path )%></li>
  <li><%= link_to_unless_current("Calendar",    calendar_path )%></li>
  <li><%= link_to_unless_current("Staph",       staph_path )%></li>
</ul>

<ul class="navigation" id="secondary">
</ul>