<% content_for :record do %>
  <p><%= link_to("Back to '#{@event}'", event_path(@event)) %></p>
<% end %>

<h1>Editing Event '<%= h @event %>'</h1>

<% remote_form_for(:event, :url => event_path(@event), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "events/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>