<% content_for :record do %>
  <ul>
    <li><%= link_to("Back to '#{@psa}'", label_path(@psa)) %></li>
  </ul>
<% end %>

<h1>Editing PSA '<%= h @psa %>'</h1>

<% remote_form_for(:psa, :url => psa_path(@psa), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "programming/psa/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>