<% content_for :record do %>
  <p><%= link_to("Back to '#{@album}'", label_path(@album)) %></p>
<% end %>

<h1>Editing Album '<%= @album.name %>'</h1>

<% remote_form_for(:album, :url => album_path(@album), :html => { :method => :put }) do |f| %>
  <fieldset id="album_details" name="Album Details" class="clearfix">
          <%= render(:partial => "albums/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
  </fieldset>
<% end %>