<h1>Editing Album '<%= @album%>'</h1>

<% remote_form_for(:album, :url => album_path(@album), :html => { :method => :put }) do |f| %>
	<fieldset id="album_details" name="Album Details" class="clearfix">
		<%= render(:partial => "albums/form", :locals => {:f => f})%>
    	<%= submit_tag "Update" %>
	</fieldset>
<% end %>

<%= link_to 'Show', album_path(@album) %> |
<%= link_to 'Back', albums_path %>