<% content_for :record do %>
  <ul>
    <li><%= link_to("Back to '#{@user}'", user_path(@user)) %></li>
  </ul>
<% end %>

<h1>Editing User '<%= h @user %>'</h1>

<% remote_form_for(:user, :url => user_path(@user), :html => { :multipart => true, :method => :put }) do |f| -%>
	<%= render(:partial => 'staph/users/form', :locals => {:f => f})%>
	<%= submit_tag 'Update' %>
<% end -%>
