<h1>Create a New Tag</h1>

<% remote_form_for(:tag, :url => tags_path) do |f| %>
	<fieldset id="tag_details" name="Tag Details" class="clearfix">
		<%= render(:partial => "tags/form", :locals => {:f => f})%>
    	<%= submit_tag "Create" %>
	</fieldset>
<% end %>

<%= link_to 'Back', tags_path %>