<% content_for :record do %>
  <p><%= link_to("Back to '#{@artist}'", label_path(@artist)) %></p>
<% end %>

<h1>Editing Artist '<%= h @artist %>'</h1>

<% remote_form_for(:artist, :url => artist_path(@artist), :html => { :method => :put }) do |f| %>
  <%= render(:partial => "music/artists/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>