<ul>
  <li><%= link_to "Artists", artists_path %></li>
  <li><%= link_to "Albums",  albums_path %></li>
  <li><%= link_to "Reviews",  reviews_path %></li>
  <li><%= link_to "Create a Playlist", new_playlist_path %></li>
</ul>