<ul>
  <li><%= link_to "Artists", artists_path %></li>
  <li><%= link_to "Albums",  albums_path %></li>
  <li><%= link_to "Labels",  labels_path %></li>
  <li><%= link_to "Reviews",  reviews_path %></li>
</ul>