<% content_for :record do %>
  <p><%= link_to("Back to '#{@schedule}'", schedule_path(@schedule)) %></p>
<% end %>

<h1>Editing Schedule '<%= h @schedule %>'</h1>

<% remote_form_for(:schedule, :url => schedule_path(@schedule), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "calendar/schedules/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>