<div id="error" class="alert error" style="display:none;"></div>

<!--[form:playlist]-->
<fieldset id="playlist_details" class="clearfix">
	<legend>Playlist Details</legend>
	<ol>
	
		<li>
	    	<label for="user_id">User</label>
	    	<%= f.text_field :user_id %>
		</li>
	
		<li>
	    	<label for="program_id">Program</label>
	    	<%= f.text_field :program_id %>
		</li>
	
		<li>
	    	<label for="start_time">Start time</label>
	    	<%= f.text_field :start_time %>
		</li>
	
		<li>
	    	<label for="end_time">End time</label>
	    	<%= f.datetime_select :end_time %>
		</li>
	
	</ol>
</fieldset>
<!--[eoform:playlist]-->