<% artist = row %>

<tr id="<%= artist.dom_id %>" class="<%= cycle(nil, 'stripe')%>">
	<td><strong><%= link_to(h(artist), artist_path(artist)) %></strong></td>
	<td><%= h artist.genres.to_sentence %></td>
	<td class="hide"><%= hcard(artist) %></td>

	<td><%= link_to 'Edit', edit_artist_path(artist) %></td>
	<td><%= link_to_remote 'Destroy', 
						              :url => artist_path(artist), 
						              :confirm => 'Are you sure?', :method => :delete %></td>
</tr>