<% content_for :record do %>
  <p><%= link_to("Back to '#{@album}'", album_path(@album)) %></p>
<% end %>

<h1>Editing Album '<%= h @album %>'</h1>

<% remote_form_for(:album, :url => album_path(@album), :html => { :method => :put }) do |f| %>
  <%= render(:partial => "albums/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>