<h1>Create a New Album</h1>

<% remote_form_for(:album, :url => albums_path) do |f| %>
	<%= render(:partial => "albums/form", :locals => {:f => f})%>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', albums_path %>