<h1>Editing Contributor '<%= @contributor%>'</h1>

<% remote_form_for(:contributor, :url => contributor_path(@contributor), :html => { :method => :put }) do |f| %>
	<fieldset id="contributor_details" name="Contributor Details" class="clearfix">
		<%= render(:partial => "contributors/form", :locals => {:f => f})%>
    	<%= submit_tag "Update" %>
	</fieldset>
<% end %>

<%= link_to 'Show', contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>