<p>
  <b>First name:</b>
  <%=h @contributor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @contributor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contributor.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contributor.phone %>
</p>


<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>