<div id="error" class="alert error" style="display:none;"></div>

<!--[form:genre]-->
<fieldset id="genre_details" class="clearfix">
	<legend>Genre Details</legend>
	<ol>
			<li>
	    	<label for="name">Name</label>
	    	<%= f.text_field :name %>
		</li>
		</ol>
</fieldset>
<!--[eoform:genre]-->