<% content_for :record do %>
  <p><%= link_to("Back to '#{@genre}'", label_path(@genre)) %></p>
<% end %>

<h1>Editing Genre '<%= h @genre %>'</h1>

<% remote_form_for(:genre, :url => genre_path(@genre), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "music/genres/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>