<% content_for :record do %>
  <ul>
    <li><%= link_to("Back to '#{@promo}'", label_path(@promo)) %></li>
  </ul>
<% end %>

<h1>Editing Promo '<%= h @promo %>'</h1>

<% remote_form_for(:promo, :url => promo_path(@promo), :html => { :method => :put }) do |f| %>
	<%= render(:partial => "programming/promos/form", :locals => {:f => f})%>
  <%= submit_tag "Update" %>
<% end %>