<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= dynamic_page_title(@page_title) %></title>
	<%= yield :head %>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag :defaults %>
</head>

<% content_tag :body, (@options_for_body_tag || {:id => 'standard'}) do %>
	<div id="container">
		<div id="header" class="clear">
		  <%= render(:partial => 'shared/header') %>
		</div>

	  <div id="content" class="column span-17 colborder clear">
	    <% if flash[:notice] %>
	      <div id="error" class="alert notice">
	       <%= flash[:notice]%>
	      </div>
	    <% end %>
	    
	    <% if session[:playlist] && ! @playlist %>
	      <div id="playlist" class="alert notice">
	       <p>You currently have a playlist open. <%= link_to("Edit Playlist", edit_playlist_path(session[:playlist])) %></p>
	      </div>
	    <% end %>
	    
		  <%= yield %>
		</div>
		
		<div id="sidebar" class="column span-6 last">
		  <% if logged_in? %>
      <div id="user-profile" class="span-6 last clear">
        <div class="column span-2">
          <%= link_to(image_tag(current_user.avatar.url, :size => '64x64', :class => 'photo'), user_path(current_user)) %>
        </div>
        <div class="column span-4 last" style="padding-top:10px">
          <span style="font-size:1.3em;"><strong><%= h current_user %></strong></span><br/>
          <span>(<%= link_to("Log Out", logout_path) %>)</span>
        </div>
      </div>
      <div style="padding:0.5em; border:1px #ccc solid;margin-bottom:2em;">
        <label>Search</label>
        <%= render(:partial => 'shared/search')%>
      </div>
      <% end %>
      
		  <div>
		  <%= render(:partial => 'sidebar') rescue nil %>
		  <%= yield :record %>
		  <%= (section = yield :section) ? section : render(:partial => 'shared/sidebar') %>
		  </div>
		</div>
		
		<div id="footer">
		  <%= render(:partial => 'shared/footer') %>
		</div>
	</div>
<% end %>
</html>
