<% content_for :section do %>
  <label>Search</label>
  <input type="search" />
  <hr class="space"/>

  <h3>Music</h3>
  <ul>
    <li><%= link_to_unless_current "Artists", artists_path %></li>
    <li><%= link_to_unless_current "Albums",  albums_path %></li>
    <li><%= link_to_unless_current "Labels",  labels_path %></li>
    <li><%= link_to_unless_current "Genres",  genres_path %></li>
  </ul>
<% end %>

<% @section = "Music" %>
<%= render :file => 'layouts/application' %>
