<% content_for :section do %>
  <label>Search</label>
  <input type="search" />
  <hr class="space"/>

  <h3>Staph</h3>
  <ul>
    <li><%= link_to_unless_current "Users", users_path %></li>
    <li><%= link_to_unless_current "Roles & Permissions", roles_path %></li>
  </ul>
<% end %>

<%= render :file => 'layouts/application' %>